:root {
    --offBlack: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --link: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    outline: 0;
}

body {
    /* 14px */
    font-size: .875rem;
    font-family: 'Inter', sans-serif;
}

.attribution {
    /* 11px */
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: var(--link);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}