/* 1440px */
@media (min-width: 90rem) {
    .container {
        /* 400px */
        max-width: 25rem;
        /* 250px */
        margin: 15.625rem auto;
    }

    .social {
        transition: background-color .2s ease;
    }

    .social:hover {
        color: var(--darkGrey);
        background-color: var(--green);
    }
}